body,html,p{
  padding:0;
  margin: 0;
}

body{
  padding: 0;
}

.main-container{
  min-height: calc(100vh - 402px);
}

.el-pagination{
  text-align: center;
  margin: 20px auto;
}

.loading-block{
  @include placeholder-order(center);
}

.full-screen-mask{
  position:fixed;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  left:0;
  top:0;
  height: 100%;
}

.order-success-wrapper{
  position: fixed;
  width: 150px;
  top: calc(50vh - 30px);
  left: calc(50vw - 75px);
  z-index: 101;
}
