$red:red;
$orange:rgba(255, 81, 0, 0.842);

@mixin line-text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 主体基本样式
@mixin main-wrapper($tb:0px) {
  width: 1048px;
  margin: $tb auto;
}

// flex布局
@mixin flex-layout($dir:column,$justify:center,$align:center){
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

// 多行文本超过行数显示省略号
@mixin  text-overflow($line:1){
  display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	overflow: hidden;
}
